---
- hosts: all
  tasks:
    - debug:
       msg: " System {{ inventory_hostname }} had major nic name: {{ ansible_default_ipv4.interface }}"
    - shell: hostname
      register: result
    - debug:
        var: result
